@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$paleViolet: hsl(276, 100%, 81%);
$moderateViolet: hsl(276, 55%, 52%);
$desaturatedDarkViolet: hsl(271, 15%, 43%);
$grayishBlue: hsl(206, 6%, 79%);
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
$darkGrayishViolet: hsl(270, 7%, 64%);
$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);
$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 20%, 96%);
$veryLightMagenta: hsl(289, 100%, 72%);

$backGradient: linear-gradient(45deg, $lightViolet, $lightMagenta);

$fontSize: 16px;

$fontFamily: 'Rubik', sans-serif;

$fWeightNormal: 400;
$fWeightSemiBold: 500;
$fWeightBold: 700;